{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges/challenges.css' %}">
    <link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock %}

{% block page_title %}
All Months Challenges
{% endblock %}

{% block content %}
{% include "./includes/header.html" with active_page="challenge" %}
<ul>
    {% for month in months %}
    <li>
        <a href="{% url 'month-challenge' month=month %}">
            {{ month | title }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}